@if (sidebarOpen) {
<div
  class="fixed inset-0 z-40 bg-transparente transition-opacity duration-200"
  (click)="sidebarOpen = false"
></div>
}
<aside
  class="fixed top-0 left-0 h-full w-64 bg-[#000b42] z-50 transform transition-transform duration-300 shadow-lg"
  [class.-translate-x-full]="!sidebarOpen"
  [class.translate-x-0]="sidebarOpen"
  tabindex="-1"
>
  <a routerLink="/" class="flex items-center h-16 px-2 gap-2">
    <img src="/twt.png" alt="logo" class="h-14 w-auto" />
    <span class="text-white font-bold text-lg mr-2">TWT OsTicket</span>
  </a>
  <nav class="mt-6">
    <ul class="space-y-2">
      <li>
        <a
          routerLink="/"
          class="flex items-center px-6 py-3 !text-white text-lg hover:bg-[#1c3de8] font-semibold rounded transition"
        >
          <nz-icon nzType="home" nzTheme="fill" />
          <span class="ml-3">Inicio</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/tickets/new"
          class="flex items-center px-6 py-3 !text-white text-lg hover:bg-[#1c3de8] font-semibold rounded transition"
        >
          <nz-icon nzType="diff" nzTheme="fill"></nz-icon>
          <span class="ml-3">Crear Ticket</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/tickets/list"
          class="flex items-center px-6 py-3 !text-white text-lg hover:bg-[#1c3de8] font-semibold rounded transition"
        >
          <nz-icon nzType="database" nzTheme="fill"></nz-icon>
          <span class="ml-3">Listado de Tickets</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<div class="min-h-screen flex flex-col bg-gray-100">
  <header
    class="h-16 flex items-center justify-between px-4 bg-[#1c3de8] z-10 relative"
  >
    <div class="flex flex-row items-center p-2 gap-2">
      <button
        class="text-white text-2xl"
        (click)="sidebarOpen = true"
        aria-label="Abrir menú"
      >
        <nz-icon nzType="menu-unfold" style="color: white" />
      </button>
      <a routerLink="/">
        <img src="/twt.png" alt="logo" class="h-14 w-auto" />
      </a>
    </div>
    <div class="flex items-center space-x-2">
      <span class="text-white font-bold text-xl hidden sm:flex"> Soporte</span>
    </div>
    <div class="flex flex-row items-center gap-2">
      @if(userEmail){
      <p class="text-white font-bold text-lg m-0 hidden sm:flex">
        {{ userEmail }}
      </p>

      }
      <app-user-config class="px-2" />
    </div>
  </header>

  <main class="flex-1 flex flex-col w-full">
    <section class="flex-1 w-full p-2 sm:p-8 bg-white">
      <div class="w-full">
        @if(isLoading$ | async) {
        <app-spinner />
        }
        <router-outlet></router-outlet>
      </div>
    </section>
    <footer
      class="flex flex-col sm:flex-row items-center justify-center w-full py-4 gap-2 text-center bg-white border-t"
    >
      <p class="font-semibold">
        © {{ currentYear }}
        <a
          href="https://twt.com.mx"
          target="_blank"
          class="underline text-green-600"
          >Two Way Transfer</a
        >
      </p>
      <span class="hidden sm:inline px-2">|</span>
      <p class="font-semibold hidden sm:inline">
        Todos los derechos reservados
      </p>
      <span class="hidden sm:inline px-2">|</span>
      <p class="font-semibold hidden sm:inline">Desarrollado por Sistemas</p>
    </footer>
  </main>
</div>
