<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="flex items-center w-full transition-all duration-300">
      <a
        routerLink="/tickets"
        class="flex flex-row items-center justify-center w-full"
      >
        <img
          src="/twt.png"
          alt="logo"
          [ngClass]="isCollapsed ? 'h-14 w-26 mx-auto mt-2' : 'h-16 w-26'"
          class="transition-all duration-300"
        />
        @if ( !isCollapsed ) {
        <p
          class="font-bold text-white text-xl ml-4 mb-0 transition-opacity duration-300"
        >
          OsTicket
        </p>
        }
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/tickets/new">
          <nz-icon nzType="diff" nzTheme="fill" />
          @if ( !isCollapsed ) {
          <span class="ml-2 font-semibold text-lg">Crear Ticket</span>
          }
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/tickets/list">
          <nz-icon nzType="database" nzTheme="fill" />
          @if ( !isCollapsed ) {
          <span class="ml-2 font-semibold text-lg">Listado de Tickets</span>
          }
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header !bg-[#1c3de8]">
        <span
          class="header-trigger cursor-pointer hidden sm:flex"
          (click)="isCollapsed = !isCollapsed"
        >
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></nz-icon>

          <p
            class="font-bold text-white text-xl mb-0 transition-opacity duration-300 ml-2 relative bottom-1"
          >
            SOPORTE TWT
          </p>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        @if (isLoading$ | async) {
        <app-spinner />
        }
        <router-outlet></router-outlet>
      </div>
      <div class="flex flex-row items-center justify-center w-full">
        <p class="font-semibold">
          © {{ currentYear }}
          <a href="https://twt.com.mx" target="_blank">Two Way Transfer</a>
        </p>
        <p class="mx-2 hidden md:flex">|</p>
        <p class="font-semibold hidden md:flex">
          Todos los derechos reservados
        </p>
        <p class="mx-2 hidden md:flex">|</p>
        <p class="font-semibold hidden md:flex">Desarrollado por Sistemas</p>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
